body {
  text-align: center;
  background-color: #2ea1d2;
  color: rgb(228, 30, 80);
  font-family: Helvetica, Arial;
}

#add {
  background-color: rgb(106, 230, 182);
  border: 0;
  color: rgb(42, 44, 44);
  margin-inline-start: 25px;
  padding-block-end: 20px;
  padding-inline-start: 20px;
  padding-block-start: 20px;
  padding-inline-end: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-block-start: 35px;
}

.remove {
  margin-block-start: 13px;
  background-color: #05f2cb;
  float: inline-end;
  clear: both;
  padding-inline-end: 20px;
  border-radius: 5px;
  inline-size: 60px;
}

#wrapper {
  inline-size: 450px;
  background-color: #fafafa;
  margin-block-start: 120px;
  margin-inline-start: 295px;
  padding-block-end: 30px;
  padding-inline-start: 50px;
  padding-block-start: 30px;
  padding-inline-end: 65px;
  border-radius: 25px;
}

ul {
  list-style:none;
  text-align: start;
  line-height: 35px;
}

#task {
  width : 320px;
  block-size: 30px;
  margin-inline-start: 17px;
}

h1 {
  margin-block-start: 30px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}