body {
  text-align: center;
  background-color: #3bcccc;
  color: rgb(44, 169, 231);
  font-family: Helvetica, Arial;
}

#add {
  background-color: rgb(106, 230, 182);
  border: 0;
  color: rgb(42, 44, 44);
  margin-left: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 35px;
}

.remove {
  margin-top: 13px;
  background-color: #05f2cb;
  float: right;
  clear: both;
  padding-right: 20px;
  border-radius: 5px;
  width: 60px;
}

#wrapper {
  width: 450px;
  background-color: #fafafa;
  margin-top: 120px;
  margin-left: 295px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 65px;
  border-radius: 25px;
}

ul {
  list-style:none;
  text-align: left;
  line-height: 35px;
}

#task {
  width : 320px;
  height: 30px;
  margin-left: 17px;
}

h1 {
  margin-top: 30px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}